## Espaço de desafios

Notebook para o desenvolvimento de códigos de desafio do curso Data Visualization: estilização de tabelas com Python.

In [1]:
!pip install pandas==2.0.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas==2.0.0
  Downloading pandas-2.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 53.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas==2.0.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas==2.0.0) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas==2.0.0) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas==2.0.0) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas==2.0.0) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.5.3, but you have pandas 2.0.0 which is incompatible.
Successfully installed pandas-2.0.0

In [2]:
import pandas as pd
df = pd.read_csv('loja_livro_filmes.csv')
df

,pais,id_cliente,data_pedido,data_chegada,tipo_compra,numero_pedido,tamanho_pacote,unidades,custo_empacotamento,custo_envio,tipo_desconto,categoria,tipo_consumo,tipo_cliente,custo_produto
0,Argentina,111962928,2002-02-15,2002-03-10,Normal,98091426,Pacote pequeno,1,3.0,5.99,Sem desconto,BlueRay,Alto Consumo,B2C,8.99
1,Argentina,145148150,2004-11-05,2004-11-26,Normal,98087803,Pacote pequeno,3,1.0,6.99,Sem desconto,BlueRay,Alto Consumo,B2C,7.99
2,Argentina,194622983,2014-09-14,2014-09-28,Normal,98072296,Pacote pequeno,1,3.0,6.99,Sem desconto,BlueRay,Alto Consumo,B2C,9.99
3,Argentina,220834258,2011-07-20,2011-07-30,Devolução,98077986,Pacote pequeno,2,1.0,3.86,Cyber Monday,BlueRay,Alto Consumo,B2B,4.86
4,Argentina,220834258,2013-09-15,2017-02-15,Normal,98074234,Pacote pequeno,1,2.0,4.88,Black Friday,BlueRay,Alto Consumo,B2B,6.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24885,Venezuela,890670789,2006-05-05,2006-05-18,Devolução,98085835,Pacote pequeno,2,1.0,6.99,Sem desconto,Livro,Alto Consumo,B2C,7.99
24886,Venezuela,892274535,2002-02-20,2002-03-08,Normal,98091414,Pacote pequeno,1,2.0,6.25,Cyber Monday,Livro,Alto Consumo,B2B,8.25
24887,Venezuela,892274535,2015-01-26,2015-02-17,Normal,98071516,Pacote pequeno,3,3.0,4.65,Sem desconto,Livro,Alto Consumo,B2B,7.65
24888,Venezuela,898039697,2002-08-22,2002-09-06,Normal,98090720,Pacote pequeno,2,2.0,4.58,Sem desconto,Livro,Alto Consumo,B2B,6.58
24889,Venezuela,898039697,2009-05-27,2009-06-17,Normal,98081676,Pacote pequeno,1,1.0,6.65,Sem desconto,Livro,Alto Consumo,B2B,7.65

## Hora da prática 1

In [3]:
df_paises = df.groupby(['pais'])['unidades'].sum().nlargest(9).copy()
df_paises = df_paises.reset_index()


df_paises.columns = ['País', 'Unidades pedidas']
df_paises['Ranque'] = df_paises.index + 1

df_paises.set_index('Ranque', inplace=True)
df_paises

             País  Unidades pedidas
Ranque
1       Argentina              5591
2         Equador              5566
3        Paraguai              5564
4            Peru              5550
5       Venezuela              5529
6        Colômbia              5504
7          Brasil              5473
8         Uruguai              5377
9           Chile              5304

In [4]:
s_pais = df_paises.style
s_pais

In [5]:
s_pais = s_pais.format({'Unidades pedidas': '{} prod'})
s_pais

## Hora da prática 2

In [6]:
df_produto_custo = df.groupby(['categoria'])[['custo_produto']].sum()
df_produto_custo.index.name = 'Categoria produto'
df_produto_custo.columns = ['Custo de pedidos']
df_produto_custo

                   Custo de pedidos
Categoria produto
BlueRay                    14191.36
CD                         10514.28
Coleção                    73128.59
Livro                      78213.80

In [7]:
s_produto = df_produto_custo.style
s_produto

In [8]:
s_produto.format('R$ {:,.2f}')\
         .highlight_max(color='#F16165')\
         .highlight_min(color='lightgreen')

## Hora da prática 3

In [9]:
df_descontos = pd.DataFrame(df['tipo_desconto'].value_counts())
df_descontos.columns = ['N° pedidos']
df_descontos.index.name = 'Tipo desconto'
df_descontos

               N° pedidos
Tipo desconto
Sem desconto        13347
Cyber Monday         6922
Black Friday         1986
Liquidação           1487
Data especial        1148

In [10]:
porcentagem = df_descontos['N° pedidos'].to_numpy()
porcentagem = 100 * porcentagem/porcentagem.sum()
porcentagem

array([53.62394536, 27.81036561,  7.97910808,  5.97428686,  4.61229409])

In [11]:
df_descontos['Distribuição de pedidos'] = porcentagem
df_descontos

               N° pedidos  Distribuição de pedidos
Tipo desconto
Sem desconto        13347                53.623945
Cyber Monday         6922                27.810366
Black Friday         1986                 7.979108
Liquidação           1487                 5.974287
Data especial        1148                 4.612294

In [12]:
s_descontos = df_descontos.style
s_descontos

In [13]:
cabecalho = {
    'selector': 'th',
    'props': 'font-weight: bold; font-family: Arial; text-align: right; background-color: white; color: black;'
}

celulas = {
    'selector': 'td',
    'props': 'background-color: white; color: black;'
}

s_descontos.set_table_styles([cabecalho, celulas], overwrite=False)

In [14]:
s_descontos.format({'Distribuição de pedidos': '{:.2f} %'})\
           .bar(subset='Distribuição de pedidos', vmin = 0, vmax = 100.0, color = '#093364',
                height=50,width=80)

## Hora da prática 4

In [15]:
df['data_chegada'] = pd.to_datetime(df['data_chegada'])
df['data_pedido'] = pd.to_datetime(df['data_pedido'])

In [16]:
df_datas = df.copy()
df_datas = df_datas[df_datas['data_pedido'] >= '2013-01-01']
df_datas = df_datas.sort_values('data_pedido')
df_datas['meses'] = df_datas['data_pedido'].dt.strftime('%Y - %b')
df_datas = df_datas.reset_index(drop=True)

In [17]:
tempo_demora = (df_datas['data_chegada'] - df_datas['data_pedido']).dt.days
df_datas['tempo_entrega'] = tempo_demora

In [18]:
entregas = df_datas.pivot_table(index = 'pais', columns = 'meses', values = 'tempo_entrega' , aggfunc = 'mean', sort=False)
entregas

meses,2013 - Jan,2013 - Feb,2013 - Mar,2013 - Apr,2013 - May,2013 - Jun,2013 - Jul,2013 - Aug,2013 - Sep,2013 - Oct,...,2015 - Mar,2015 - Apr,2015 - May,2015 - Jun,2015 - Jul,2015 - Aug,2015 - Sep,2015 - Oct,2015 - Nov,2015 - Dec
pais,,,,,,,,,,,,,,,,,,,,,
Chile,90.210526,341.235294,470.111111,351.700000,195.545455,99.733333,307.230769,207.923077,321.062500,137.700000,...,606.280000,424.064516,423.428571,353.826087,432.642857,447.473684,314.111111,502.290323,406.920000,254.909091
Uruguai,180.882353,201.266667,146.523810,251.058824,12.500000,555.250000,217.789474,161.823529,117.333333,90.000000,...,231.840000,395.695652,502.352941,360.043478,349.481481,280.590909,346.000000,453.333333,434.125000,184.416667
Colômbia,339.461538,293.066667,328.846154,136.727273,580.142857,211.050000,377.928571,643.800000,139.300000,570.000000,...,452.520000,328.941176,433.173913,438.862069,399.000000,433.913043,435.480000,462.631579,149.952381,393.777778
Venezuela,216.047619,267.500000,219.400000,221.538462,180.875000,315.769231,282.416667,393.400000,405.157895,187.142857,...,307.562500,619.318182,413.482759,442.909091,443.086957,236.684211,258.384615,327.423077,271.105263,187.750000
Argentina,321.913043,314.214286,356.000000,481.173913,346.416667,309.318182,351.894737,171.750000,342.200000,149.388889,...,324.666667,467.695652,264.590909,529.888889,374.680000,506.900000,437.333333,299.178571,317.960000,293.125000
Equador,718.812500,16.928571,80.666667,206.214286,178.375000,233.000000,317.882353,252.238095,205.384615,479.153846,...,338.862069,277.608696,440.347826,566.526316,279.642857,425.280000,337.296296,238.416667,335.052632,151.000000
Paraguai,216.857143,384.733333,495.882353,272.285714,345.208333,263.571429,120.416667,285.285714,506.466667,351.666667,...,510.650000,372.718750,463.722222,354.541667,607.217391,405.354839,261.521739,354.650000,203.300000,107.250000
Brasil,238.736842,520.545455,406.642857,382.636364,454.866667,232.250000,181.217391,266.133333,272.458333,213.666667,...,431.157895,432.068966,375.541667,222.555556,310.941176,455.692308,392.791667,394.181818,391.483871,241.500000
Peru,283.476190,379.052632,436.153846,193.466667,167.529412,216.076923,333.333333,371.071429,280.928571,319.375000,...,470.481481,393.833333,499.640000,332.812500,330.580645,556.277778,471.400000,204.705882,325.764706,323.090909

In [19]:
s_entregas = entregas.style.format('{:,.2f}')
s_entregas.set_sticky(axis="index")

## Hora da prática 5

In [96]:
df_alteracao = df.rename(columns={'pais': 'Custo por país ($)'})
df_clientes = df_alteracao.pivot_table(index=['tipo_cliente', 'categoria'], columns = 'Custo por país ($)', values = 'custo_produto', aggfunc = 'sum')
df_clientes

Custo por país ($)      Argentina   Brasil    Chile  Colômbia  Equador
tipo_cliente categoria
B2B          BlueRay       488.23   552.31   521.31    538.39   473.88  \
             CD            344.74   449.66   350.58    422.22   396.15
             Coleção      2824.31  2899.26  2939.29   2823.34  2747.09
             Livro        3150.77  2751.26  2809.13   2987.06  3229.24
B2C          BlueRay      1027.85  1007.18   992.12   1062.35  1004.99
             CD            785.63   860.71   620.83    668.12   666.49
             Coleção      5587.93  5053.64  5162.34   5253.09  5583.83
             Livro        5865.62  5957.59  5718.97   5781.46  5438.32

Custo por país ($)      Paraguai     Peru  Uruguai  Venezuela
tipo_cliente categoria
B2B          BlueRay      596.74   727.11   580.81     476.67
             CD           341.49   388.17   495.02     415.60
             Coleção     2492.20  2912.78  2548.28    2969.67
             Livro       3161.33  3092.14  2872.69    2721.60
B2C          BlueRay     1095.01  1079.54   873.96    1092.91
             CD           867.01   788.82   795.89     857.15
             Coleção     5759.34  5159.96  4961.45    5450.79
             Livro       5543.30  5678.06  5809.63    5645.63

In [97]:
df_clientes.rename_axis(index={'tipo_cliente': 'Tipo cliente', 'categoria': 'Categoria produto'}, inplace = True)
df_clientes

Custo por país ($)              Argentina   Brasil    Chile  Colômbia
Tipo cliente Categoria produto
B2B          BlueRay               488.23   552.31   521.31    538.39  \
             CD                    344.74   449.66   350.58    422.22
             Coleção              2824.31  2899.26  2939.29   2823.34
             Livro                3150.77  2751.26  2809.13   2987.06
B2C          BlueRay              1027.85  1007.18   992.12   1062.35
             CD                    785.63   860.71   620.83    668.12
             Coleção              5587.93  5053.64  5162.34   5253.09
             Livro                5865.62  5957.59  5718.97   5781.46

Custo por país ($)              Equador  Paraguai     Peru  Uruguai  Venezuela
Tipo cliente Categoria produto
B2B          BlueRay             473.88    596.74   727.11   580.81     476.67
             CD                  396.15    341.49   388.17   495.02     415.60
             Coleção            2747.09   2492.20  2912.78  2548.28    2969.67
             Livro              3229.24   3161.33  3092.14  2872.69    2721.60
B2C          BlueRay            1004.99   1095.01  1079.54   873.96    1092.91
             CD                  666.49    867.01   788.82   795.89     857.15
             Coleção            5583.83   5759.34  5159.96  4961.45    5450.79
             Livro              5438.32   5543.30  5678.06  5809.63    5645.63

In [98]:
df_clientes['Total ($)'] = df_clientes.sum(axis=1)
df_clientes

Custo por país ($)              Argentina   Brasil    Chile  Colômbia
Tipo cliente Categoria produto
B2B          BlueRay               488.23   552.31   521.31    538.39  \
             CD                    344.74   449.66   350.58    422.22
             Coleção              2824.31  2899.26  2939.29   2823.34
             Livro                3150.77  2751.26  2809.13   2987.06
B2C          BlueRay              1027.85  1007.18   992.12   1062.35
             CD                    785.63   860.71   620.83    668.12
             Coleção              5587.93  5053.64  5162.34   5253.09
             Livro                5865.62  5957.59  5718.97   5781.46

Custo por país ($)              Equador  Paraguai     Peru  Uruguai
Tipo cliente Categoria produto
B2B          BlueRay             473.88    596.74   727.11   580.81  \
             CD                  396.15    341.49   388.17   495.02
             Coleção            2747.09   2492.20  2912.78  2548.28
             Livro              3229.24   3161.33  3092.14  2872.69
B2C          BlueRay            1004.99   1095.01  1079.54   873.96
             CD                  666.49    867.01   788.82   795.89
             Coleção            5583.83   5759.34  5159.96  4961.45
             Livro              5438.32   5543.30  5678.06  5809.63

Custo por país ($)              Venezuela  Total ($)
Tipo cliente Categoria produto
B2B          BlueRay               476.67    4955.45
             CD                    415.60    3603.63
             Coleção              2969.67   25156.22
             Livro                2721.60   26775.22
B2C          BlueRay              1092.91    9235.91
             CD                    857.15    6910.65
             Coleção              5450.79   47972.37
             Livro                5645.63   51438.58

In [99]:
s_clientes = df_clientes.style.format('{:,.2f}')
s_clientes

In [100]:
tabela = {
    'selector': 'td, th',
    'props': 'font-weight: normal; font-family: Arial; text-align: right; background-color: white;'
}

cabecalho = {
    'selector': 'th',
    'props': 'vertical-align: top'
}

s_clientes.set_table_styles([tabela, cabecalho])

In [101]:
s_clientes.set_table_styles({
    ('B2B', 'BlueRay'): [{'selector': 'th', 'props': 'border-top: 1px solid #181818'},
              {'selector': 'td', 'props': 'border-top: 1px solid #181818'}],
    ('B2B', 'Livro'): [{'selector': 'th', 'props': 'font-weight: bold'}],
    ('B2C', 'Livro'): [{'selector': 'th', 'props': 'font-weight: bold'}],
}, overwrite=False, axis=1)

In [102]:
s_clientes.set_table_styles({
    'Total ($)': [{
        'selector': '.true',
        'props': 'font-weight: bold'
    }]
},overwrite=False,axis=0)

cores_coluna = pd.DataFrame(['false','false','false','true','false','false','false','true'],index= df_clientes['Total ($)'].index,
                            columns = ['Total ($)'])
s_clientes.set_td_classes(cores_coluna)